<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>LB SOLUTIONS - SERWIS</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


  
  <!-- Font Awesome's JS for icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
  {% block styles %}
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./dist/css/custom.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  {% endblock styles %}

</head>


<body class="hold-transition layout-top-nav">

<div class="wrapper">

{% block navbar %}

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid d-flex justify-content-between"> <!-- Kontener dla logo, menu, i menu u偶ytkownika -->
      <a href="{{ path('app_main') }}" class="navbar-brand logo ml-0">
        {% include 'elements/logo.html.twig' %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link navbar-text well-sm" href="{{ path('app_main') }}"><i class="fas fa-home"></i></a>
      </li>
          <li class="nav-item dropdown active">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle navbar-text well-sm"><b>KLIENCI</b></a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu dropdown-menu-l border-0 shadow">
              <li><a href="https://www.lbsolutions.pl/admin?crudAction=index&crudControllerFqcn=App%5CController%5CUserCrudController" class="dropdown-item "><i class="fa fa-clipboard-list"></i> Lista klient贸w</a></li>
              <li><a href="/dodaj-klienta" class="dropdown-item"><i class="fa fa-user-plus"></i> Nowy klient</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown active">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle navbar-text"><b>PRACOWNICY</b></a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu dropdown-menu-l border-0 shadow">
              <li><a href="https://www.lbsolutions.pl/admin?crudAction=index&crudControllerFqcn=App%5CController%5CUserCrudController" class="dropdown-item"><i class="fa fa-clipboard-list"></i> Lista pracownik贸w</a></li>
              <li><a href="/dodaj-pracownika" class="dropdown-item"><i class="fa fa-user-plus"></i> Nowy pracownik</a></li>
            </ul>
          </li>
          {% if 'Klient' in app.user.getRoles() %}

              <li class="nav-item"><a href="/dodaj-zlecenie" class="nav-link"><i class="fa fa-user-plus"></i> Dodaj zlecenie</a></li>
              <li class="nav-item"><a href="/moje-zlecenia" class="nav-link"><i class="fa fa-clipboard-list"></i> Moje zlecenia</a></li>

          {% endif %}
          <li class="nav-item dropdown active">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle navbar-text"><b>ZLECENIA</b></a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu dropdown-menu-l border-0 shadow">
              <li><a href="/moje-zlecenia" class="dropdown-item"><i class="fa fa-clipboard-list"></i> Moje zlecenia</a></li>
              <li><a href="/lista-zlecen" class="dropdown-item"><i class="fa fa-clipboard-list"></i> Lista zlece</a></li>
              <li><a href="/dodaj-zlecenie" class="dropdown-item"><i class="fa fa-user-plus"></i> Dodaj zlecenie</a></li>
            </ul>
          </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="./dist/img/user.png" class="user-image img-circle elevation-2" alt="User Image">
          <span class="d-none d-md-inline ">{{ app.user.getName() }} {{ app.user.getLastname() }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
          <!-- User image -->
          <li class="user-header bg-primary active">
            <img src="./dist/img/user.png" class="img-circle elevation-2" alt="User Image">

            <p>
            {{ app.user.getName() }} {{ app.user.getLastname }}  - {{ app.user.getRoles()[0] }}
            </p>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <a href="/moj-profil" class="btn btn-default btn-flat"><i class="far fa-user"></i> M贸j profil</a>
            <a href="/logout" class="btn btn-default btn-flat float-right"><i class="fa fa-sign-out-alt"></i> Wyloguj si</a>
          </li>
        </ul>
      </li>
      </ul>   
  </div>
</div>
</nav>
<!-- /.navbar -->
{% endblock navbar %}


{% block content %}

<!-- Main content -->
  <div class="content">
    <div class="container">
 <!-- Your page content goes here -->
  {% block page_content %}
  <!-- This block should be overridden by child templates to insert specific page content -->

  <h1 class="my-5 text-center">FROMBERG PLS 3 </h1>
  <h1>Lista u偶ytkownik贸w</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.Id }} {{ user.Name }} {{ user.Lastname }} | {{ user.Email }} | {{ user.IsVerified }}
            <button class="delete-btn" data-user-id="{{ user.Id }}">Usu</button>
            </li>
        {% endfor %}
    </ul>
    <script>
    $(document).on('click', '.delete-btn', function() {
        let userId = $(this).data('user-id');
        $.ajax({
            url: `/user/delete/${userId}`,
            method: 'POST',
            success: function() {
                alert('U偶ytkownik zosta usunity');
                location.reload(); // Odwie偶 stron, aby zaktualizowa list
            },
            error: function(jqXHR) {
    let errorMessage = 'Bd podczas usuwania u偶ytkownika';
    if (jqXHR.responseJSON && jqXHR.responseJSON.message) {
        errorMessage = jqXHR.responseJSON.message;
    }
    alert(errorMessage);
}
        });
    });
</script>

  {% endblock page_content %}
</div>
  </div>
{% endblock content %}



{% block footer %}

  <!-- Main Footer -->
  <footer class="footer text-white py-3">
      <span class="ml-3">&copy; 2023 LB SOLUTIONS - WEB DESIGN IS OUR PASSION</span>
  </footer>
{% endblock footer %}


</div>
<!-- ./wrapper -->


{% block required_scripts %}

  <!-- jQuery and Bootstrap Bundle (includes Popper) -->

  
{% endblock required_scripts %}

</body>
</html>