<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="./dist/css/login.css">
	<link rel="stylesheet" href="./plugins/fontawesome-free/css/all.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>


</head>

<body>

	<!-- particles.js container -->
	<div id="particles-js"></div>

	<!-- scripts do particle-->
	<script src="./dist/js/particles.js"></script>
	<script src="./dist/js/app.js"></script>

	<div class="container {% if destination|default('') == '/register' %} right-panel-active noanimation {% endif %}" id="container">
		<div class="form-container sign-up-container">
			<form method="post" action="/register">
				{# {% for flash_error in app.flashes('error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}
				{% for message in app.flashes('notice') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %} #}
				{% for flash_error in app.flashes('register_error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}
				{% for message in app.flashes('register_notice') %}
					<div class="alert alert-success">{{ message }}</div>
				{% endfor %}

				{{ form_start(registrationForm) }}
				<h1>Zarejestruj się</h1><br>
				<div class="input-group mb-3">

					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-user-astronaut"></i>
						</span>
					</div>

					{{ form_widget(registrationForm.name) }}
					{% if registrationForm.name.vars.errors|length > 0 %}
						<div>
							<small class="form-error">{{ registrationForm.name.vars.errors|first.message }}</small>
						</div>
					{% endif %}
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-user-astronaut"></i>
						</span>
					</div>

					{{ form_widget(registrationForm.lastname) }}

					{% if registrationForm.lastname.vars.errors|length > 0 %}
						<div>
							<small class="form-error">{{ registrationForm.lastname.vars.errors|first.message }}</small>
						</div>
					{% endif %}
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-envelope"></i>
						</span>

					</div>

					{{ form_widget(registrationForm.email) }}
					{% if registrationForm.email.vars.errors|length > 0 %}
						<div>
							<small class="form-error">{{ registrationForm.email.vars.errors|first.message }}</small>
						</div>
					{% endif %}
				</div>


				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-lock"></i>
						</span>
					</div>

					{{ form_widget(registrationForm.plainPassword) }}
					<div>
						{% for error in registrationForm.plainPassword.vars.errors %}
							<small class="form-error">{{ error.message }}</small>
						{% endfor %}
					</div>
				</div>

					<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-lock"></i>
						</span>
					</div>

					{{ form_widget(registrationForm.repeatPassword) }}
					<div>
						{% for error in registrationForm.repeatPassword.vars.errors %}
							<small class="form-error">{{ error.message }}</small>
						{% endfor %}
					</div>
				</div>

				<div class="input-group mb-3">
					{{ form_widget(registrationForm.agreeTerms) }}
					<label for="registration_form_agreeTerms">Akceptuję regulamin</label>
				</div>
				
				<div class="cf-turnstile" data-sitekey="0x4AAAAAAAP3mAGTgFCYPXrj" data-theme="light"></div><br>
				<button type="submit">ZAREJESTRUJ SIĘ</button>
				{{ form_end(registrationForm) }}
			</form>
		</div>

		<div class="form-container sign-in-container">
			<form method="post" action="/login">
				{% for flash_error in app.flashes('verify_error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}
				{% for flash_error in app.flashes('error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}
				{% for message in app.flashes('notice') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}
				<h1>Zaloguj się</h1><br>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-envelope"></i>
						</span>
					</div>
					<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-lock"></i>
						</span>
					</div>
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Hasło">
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<a href="{{ path('app_forgot_password_request') }}">Zapomniałeś hasła?</a>
				<div class="cf-turnstile" data-sitekey="0x4AAAAAAAP3mAGTgFCYPXrj" data-theme="light"></div><br>
				<button type="submit">ZALOGUJ</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<a href="{{ path('app_login') }}" class="navbar-brand logo">
						{% include 'elements/logo.html.twig' %}
					</a>
					<h1>Masz już konto?</h1>
					<p>Kliknij tutaj i zaloguj się!</p>
					<button class="ghost" id="signIn">LOGOWANIE</button>
				</div>
				<div class="overlay-panel overlay-right">
					<a href="{{ path('app_login') }}" class="navbar-brand logo">
						{% include 'elements/logo.html.twig' %}
					</a>
					<h1>Nie masz konta?</h1>
					<p>Kliknij tutaj i zarejestruj się!</p>
					<button class="ghost" id="signUp">REJESTRACJA</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
container.classList.remove("right-panel-active");
});
	</script>
</body>
